@model IAUToDoList.Models.ToDoItem

@{
    ViewBag.Title = "Yapılacak İş Ayrıntıları";
}

<h2>Ayrıntılar</h2>

<div>
    <h4>Yapılacaklar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manager.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organizator.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organizator.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Side.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Side.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attachment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attachment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeetingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeetingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinishDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConversationSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConversationSubject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupporterCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupporterCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupporterDoctor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupporterDoctor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConversationAttendeeCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConversationAttendeeCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduledOrganizationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduledOrganizationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailingSubjects)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailingSubjects)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PosterSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PosterSubject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PosterCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PosterCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Elearning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Elearning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypesOfScans)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypesOfScans)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsoCountInScans)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsoCountInScans)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypesOfOrganization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypesOfOrganization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsoCountInOrganization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsoCountInOrganization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypesOfVaccinationOrganization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypesOfVaccinationOrganization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsoCountInVaccinationOrganization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsoCountInVaccinationOrganization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountOfCompansationForPoster)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountOfCompansationForPoster)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorparateProductivityReport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorparateProductivityReport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Listeye Geri Dön", "Index")
</p>
