@model IAUToDoList.Models.Contact
@{
    ViewBag.Title = "Contact";
}
<style>
    td{padding:3px !important;}
</style>

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
<table>
    <tr><td>Ad:</td><td>@Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })@Html.ValidationMessageFor(model => model.FirstName)</td></tr>
    <tr><td>Soyad:</td><td>@Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })@Html.ValidationMessageFor(model => model.LastName)</td></tr>
    <tr><td>Telefon:</td><td>@Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })@Html.ValidationMessageFor(model => model.Phone)</td></tr>
    <tr><td>E-Posta:</td><td>@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })@Html.ValidationMessageFor(model => model.Email)</td></tr>
    <tr><td></td><td><input type="submit" value="Kaydet" class="btn btn-primary" /></td></tr>

</table>
}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}