@{
    ViewBag.Title = "Ana Sayfa";
}


    <!-- BEGIN CONTENT BODY -->
   
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->
        
        <!-- END THEME PANEL -->
        <!-- BEGIN PAGE BAR -->
       
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->
        <h1 class="page-title">
            Admin Dashboard
            <small>statistics, charts, recent events and reports</small>
        </h1>
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        <!-- BEGIN DASHBOARD STATS 1-->
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 blue" href="@Url.Action("Index","Customers")">
                    <div class="visual">
                        <i class="icon-users"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="@ViewBag.CustomerCount">0</span>
                        </div>
                        <div class="desc"> Müşteri Sayısı </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 red" href="@Url.Action("Index","ToDoItems")">
                    <div class="visual">
                        <i class="icon-layers"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="@ViewBag.StatusNewCount">0</span>M$
                        </div>
                        <div class="desc"> Yeni İşler </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 green" href="@Url.Action("Index","ToDoItems")">
                    <div class="visual">
                        <i class="icon-hourglass"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="@ViewBag.StatusWaitingCount">0</span>
                        </div>
                        <div class="desc"> Bekleyen İşler </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 purple" href="@Url.Action("Index","ToDoItems")">
                    <div class="visual">
                        <i class="icon-check"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            +
                            <span data-counter="counterup" data-value="@ViewBag.StatusComplatedCount"></span>%
                        </div>
                        <div class="desc"> Tamamlanan İşler </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- END DASHBOARD STATS 1-->
        <div class="row">
            <div class="col-lg-6 col-xs-12 col-sm-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">Site Visits</span>
                            <span class="caption-helper">weekly stats...</span>
                        </div>
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn red btn-outline btn-circle btn-sm active">
                                    <input type="radio" name="options" class="toggle" id="option1">New
                                </label>
                                <label class="btn red btn-outline btn-circle btn-sm">
                                    <input type="radio" name="options" class="toggle" id="option2">Returning
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="site_statistics_loading">
                            <img src="../assets/global/img/loading.gif" alt="loading" />
                        </div>
                        <div id="site_statistics_content" class="display-none">
                            <div id="site_statistics" class="chart"> </div>
                        </div>
                    </div>
                </div>
                <!-- END PORTLET-->
            </div>
            
        </div>
        
   @if(Session["StatusMessage"]!=null)
   {
       @Session["StatusMessage"].ToString()
   }

